#!/usr/bin/make -f

export PYBUILD_NAME=platformdirs

%:
	dh $@ --buildsystem=pybuild

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.rst

override_dh_auto_test:
	echo "Not testing to avoid needing pytest-mock backport"
